@charset "utf-8";
/* CSS Document */

	body{
		width:100%;
	}

/* 整体导航框 */
#apDiv1 {
    position: fixed;
    width: 100%;
    /*    width: 1514px;*/
    height: 120px;
    z-index: 2;
    margin: 0 auto;
    background-color: #262626;
    top: 0px;
}
/* 上层导航框 */
#apDiv2 {
    position: fixed;
    width: 100%;
    /*    width: 1514px;*/
    height: 45px;
    z-index: 2;
    border-bottom: 1px solid #787878;
    background-color: #171717;
}
/* 下层导航框 */
#apDiv3 {
	position: fixed;
	width: 1514px;
	height: 75px;
	z-index: 3;
	top: 45px;
}
.name{
    color: #76D7A5;
    font-size: 36px;
    margin-top: 13px;
    float: left;
    margin-left: 10px;
	}
/*中心主体框*/
/*
.container{
    position: absolute;
	width: 96.03%;
*/
/*	width: 1454px;*/
/*    height: 500px;*/
/*
    z-index: -1;
    margin: 0 auto;
    background-color: #2F2F2F;
    top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
	}
*/



/* 下拉菜单倒三角样式 */	
.tri {
    margin-bottom: 20px;
/*    内容宽高均为0*/
    width: 0px;
    height: 0px;
    border: 6px solid white;
/*    下边框设为none*/
    border-bottom: none;
/*    左右设为透明色*/
    border-left-color: transparent;
    border-right-color: transparent;
    margin-top: -40px;
    margin-left: 110px;
		}
	
.nav0{
    height: 75px;
    width: 100%;
	margin: 0 auto;
	float: left;
	}
.nav0 li{
    list-style: none;
    width: 130px;
    height: 75px;
    line-height: 75px;
    text-align: center;
    font-size: 21px;
    color: #FFFFFF;
    float: left;
    margin-left: 78px;
}
/*一二级菜单鼠标移动效果 */
.nav0 li:hover {
    background-color: #000000;
    color: #FFFFFF;
    font-size: 21px;
}
.nav0 li ul li:hover{
		background:#444444;
		color:#ffffff;
		font-size:18px;
	}
/*二级菜单样式 */	
.nav0 li ul li{
    list-style: none;
    width: 360px;
    height: 60px;
    line-height: 75px;
    text-align: center;
    font-size: 18px;
    color: #FFFFFF;
    background: #000000;
    margin-left: -0px;	
	}
.nav0>li{
		float:left;
		position: relative;
	}
.nav0 li ul{
		position: absolute;
		left:0px;
		top:75px;
		display:none;
	}
.top{
    color: #FFFFFF;
    margin-top: 7px;
    float: right;
	height: 45px;
    width: 1000px;
	}
.top li{
    list-style: none;
    width: 100px;
    height: 45nonepx;
    line-height:45px;
    text-align: center;
    font-size: 18px;
    color: #FFFFFF;
    float: right;  
}
	*{
		margin:0;
		padding:0;
		list-style:none; 
	}

/* 清除链接原有样式 */
	a{
		color:#FFFFFF;
		text-decoration:none;
		display: block;
	}
/* 搜索图标 */
.icon-search{
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: 2px solid currentcolor;
    position: relative;
    margin-top: 14px;
    margin-right: 288px;
    margin-left: auto;
    margin-bottom: 30px;
}
.icon-search:after{
content: "";
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
transform: rotate(45deg);
width:8px;
height: 2px;
position: absolute;
top:13px;
left:11px;
background-color: currentcolor;
}
	.v1{
    float: left;
    position: relative;
	}
	.v2{
    float: right;
    position: relative;
	}
/* 整体底部框 */
.bottom {
    position: absolute;
	width: 100%;
/*    width: 1514px;*/
    height: 170px;
    z-index: 1;
	margin: 0 auto;
    background-color: #262626;
}
/* 上层 */
.bottom1 {
    position: absolute;
    /*    width: 1514px;*/
    height: 45px;
    z-index: 1;
    border-bottom: 1px solid #787878;
    margin-top: 12px;
    margin-left: 21px;
    width: 96.03%;
}
/* 下层 */
.bottom2 {
	position: absolute;
	width: 100%;
	height: 125px;
	z-index: 2;
	top: 45px;
}	


.bottom div.bottom1 a {
    display: inline-block;
    padding-right: 10px;
    float: right;
}
.footername{
    color: #76D7A5;
    font-size: 25px;
    float: left;
}
.contact{
    color: #5EAC96;
    font-size: 25px;
    position: absolute;
    right: 200px;
}
.copyright{
    color: #FFFFFF;
    text-align: center;
    margin-top: 26px;   
}
.about{
    color: #969696;
    text-align: center;
    margin-top: 50px;
}

